Source: fuelpad2
Section: user/other
Priority: optional
Maintainer: Julius Luukko <julius.luukko@quicknet.inet.fi>
Build-Depends: debhelper (>= 5), libqt4-dev
Standards-Version: 3.7.3
Homepage: http://fuelpad.garage.maemo.org

Package: fuelpad2
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Car fuel consumption tracking tool
 Fuelpad is a tool to record your car fuel and other expenses. It
 calculates many kinds of statistics for your data including the fuel
 consumption for each entry, the overall distance, average fuel
 consumption and total cost. It can track the expenses of several cars.
 It also has a reminder system for regular maintenance recording.
XSBC-Maemo-Display-Name: Fuelpad
XB-Maemo-Icon-26:
 iVBORw0KGgoAAAANSUhEUgAAAFAAAABQCAYAAACOEfKtAAAABHNCSVQICAgI
 fAhkiAAAAAlwSFlzAAAN1wAADdcBQiibeAAAABl0RVh0U29mdHdhcmUAd3d3
 Lmlua3NjYXBlLm9yZ5vuPBoAABSDSURBVHic7Z1LkB3Vecd/3+nue2fmzoxG
 QkIIBBEPP7AtkwrETpVtGYNtUsSOJEqyk2LhSspxUuWVU0lVFsQLh0VWTrLw
 RsUy4CJSkJRyUYVtsCLjBSleQomxLQmELdADPeZxn919zpdFv+/cGWnuHQlc
 yVdq9bv7nP/9f4/zndNnRFX5fxle/Gv5sp/97GfTwD0icjdwK9AApkRkEphM
 9xvARGkBaJeWVro0VbUJLKT7b6rqS8CLn/rUp+avVZ3kajHw+eefvw34RArW
 VhG5U1U3O+eMtRbnHACqSlaG/u1KQUXy9aBtYwye52GMcSJySlVfB46q6svA
 C5/+9KffuBr1XFUAf/rTn24RkW+KyMPOuU0ZUM45rLWLQLlaIiIZmGVgT6vq
 46r6vc985jMnV+1do1bq8OHDBtglIn8JfDaKIi+Kopxh7xcxxhAEAUEQWOA/
 VXUPsHfbtm0jFXRoAA8dOrRORB4RkT+11t4QRRFxHI9Slmsmvu8TBAGe551R
 1e+r6qP33nvvxWGeNRSAhw4d+pyIPB5F0aYwDK+Zaq62iAi1Wo0gCE6r6sP3
 3nvvT1b8jJVU/rnnnhMR+Q7wd91u17fWrvR970vxPI+xsbEY+EdV/fZ99913
 xaBcMYDPPvvsRhH5N2vttl6v91vLuqVERKjX63ied1hVv3L//fefvaL7rgSI
 H//4x9tEZF8YhhuiKBq5sO9nCYKAWq32rqru+vznP3/4ctdfFsAf/ehHG0Xk
 aLfb3fB+UFlrLdZaer0ecRzjnCOOY4wx1Go1JiYmCIJgpHekKv2uqm79whe+
 sCwTlwXwmWeeERE5FIbhtveCeaqKc47Mw3e7XXq9Hp1ejw4GggAnAsZD4oi6
 jZiq15mYmKDRaIwEZMrEw6p67wMPPLAkSMs25VT1O9babWEYDl2QlUgWcIdh
 SK/XIwzDBDxr6SLEQR031kBmNhStkdL9PaA9e5Hxc+eYajSYnJyk0Wjged6K
 yxKGIcaYbcaY7wB/v9R1SzLw6aef/hzww06n419NhxHHMdZaOp0O3W43Z1lk
 PFx9DMYbmEYDMR6DiiGy+JgLQ9yZU4yjTE9Ps3btWur1+orLJiKMj4/HwBcf
 fPDBgSHOQAB/8IMfrBOR/+52u5uult2L45hWq0W73abVatGzDjc2DhMNzMQk
 4leVoz03x9mTbzJz/UbW3rCprxb9TxdAid49iz93iampSdatW0ej0ciZe6WS
 2sPTqvqxL33pS4uC7YEqrKqPRFG06Wq0LFSVdrvN/Pw8rdjSq48jG29GagEe
 QPp7xr0uZ0+e5MybJ3jnxHHefedt1t+yhS9//a8WJxqUxSAKBBs2EjcmuXjm
 baIoYt26daxZs2ZFIMZxTBiGm3zffwT46/7zixh44MABY4x5u91u33A1VLfd
 bnP+/Hma4uFtuhlQUHA25sI7b3PmjRO8c+IYp986SavZxImw+QMf4raPbuXD
 d99DrT629MOl2JDSvjolPHOKSRuxfv16pqenV1RmEWFiYuKMc+6mHTt2VNrO
 ixioqrujKLrhaqiutZbZ2Vlm5xfwb/8QNgz51YsvcO6tk5w6cYz52Vna7TYz
 12/k1q13ccfWu9h82x1gTKl85fLLgK30uvJVItRvvJm547/AXLyI7/uMjS3z
 QwyQKIpuMMbsBp4sHx+kwt+4Wu3bdrtNu92mVx+j7vv8+vWf88z3/5Ver8fM
 huv55B/9MbdvvYupmZnkhqwIeVn6y1TorlZ2NeNg5S7/xluY//UJarUaGzZs
 wJR+mMtJGIaMjY19g+UA3Lt37xYR+ezViPmstTSbTRYWFghuuR1V5fhrrzI3
 N8e2L+9g2/adiKQVygCrrJb/QZdlYLoOxsaZi5MgPIqiFcWJzjmCIPjs3r17
 t+zevftkdrwCoKp+M4oi72rk8trtNs1mk8jzmZ6cAlW2fHQrN33wQ3xg6++S
 2EItwFqE11IAJrTrPyvFqcq5Tq+HtZYoilYcH4Zh6Pm+/03gb7Nj/Sr8cBRF
 q66+zrnE67ZaMLM+fb6y5cMfoQCuDFoVQK3uFCLFwVxlB4BWZmeW7B0mQx5F
 Eb7vP0wJwNwIPPHEE7fFcbwpa1+u1pI5jmazSdc6GtdvTFQ0XfJ+kAHHKudc
 upSvdZe5Z8A7NG07D1OXOI6J43jTE088cVuGW85AVf1EubNntaTZbHLx4kU6
 xmfmIx9HjOljnKb/BjMwDEOCWnA5DV7GBkqu4EqiDVkbe5i6xnGM53mfBN6A
 KoB3r2bHj6rm4PXGJ5nctDlRLSX7rw+4ZG1ShXUKcxfOMzE1news+zLQPgSl
 ero4ppqr7zB1tdZijPk94PtQAtA5tzWKIlYj/ovjmPn5eWbn55ENNzCxbkOu
 SqQAalqZAsh0X5SGp5ybbTE9sxaMXGFFB4cu5UhR0dysZMsw4nne1my7DOCd
 cRyPzMAoitJgeZ6xLbdTm1xTVdlF25TClmTtizJTg67I5dmXSZmFWiQZ+oHM
 ABxWhVP1vzPbNwCPPfbYtHNuc/nBwyy9Xo+LFy9y4cJFgpt+pwCvz6AP2s72
 M7ymxn0mvcXOYbllOeeU7QuSs29Yp+ic2/zYY49NQ8pAVb0njmMzigNxziXM
 m50l2HQT42uvK0DK1DSrEAO2kw0Uh6pggKmaMt+NAJM4nyUkyb0MDl0qDBRQ
 Z0diIEAcx0ZE7gGe89PK3z2qB+50OiwsLMCadUzecFOhqn3gLaXKUAAp6hBV
 PITxwKcT9xn81PNC0s7V1BQs6TjyWyRn4ogA4nne3WQAquqtWWw0jDjnaDab
 tNttrvvgx0h8q+a06AdP8goLqMOVGZiGdwJ4xhGI0nEuMWpliikYk8CT3b8U
 A0Ukt7cZeNl6GEn7YG6FVIWttY1RvFKWUe5FMX69ljvXsp0rs82pIpIAKMZg
 FBSHs8k5p6BGMQi+SQAWkryfGJPfC0VcB9W8YJmRZTZmDBylvsYYrLUNSAF0
 zk2NosJRFBFFETYrbRm0ckagDKiCS1XVGIOI4OdtU4dB8AwEovieh0EwpZAm
 U1u1rgIaZOAqmq7LQI4aSAOZDZ2CAsDJUQBMmzi0W80ctCw2rqhwyY6VgYyt
 RVQJ/CBhlwhGwDeGeuDhh4K1jjCyqLOIMXiewblCfWEA41LvUlHjFLhRVDjF
 ahJKAI7yi+TBaa9HHEb4vl8NVTKbCH3hS9YSyVTX4YngNDX2LsYAYRTiLKCJ
 LXTW4huD2rhi+AY7jtK2rI4TEZFFADZGYWDGrCAIaF66wJoN17OoZn0qXAav
 3EJBhU4YMT0uqI0R8TEKNmVPFs4ImrQtSq8ZCJwIUnIy6qpx3bDinCtsoKo2
 Rn2giGCMoT03x5r11y9W3X4V7gePlIEKUWhxY5qoqoInEKkSCNQ9ZcwXxmqW
 c1Hh6bMUVh7vaWH/tJxQWAUGps8pALTWTozSjCvf15qfvdzFfa0GgPSYU2Jn
 sc7iLHjioapMBUpNYwTFkHjbVtej5hmcKrFLQiPEDFZjSUFUKu3gYb1warIm
 oFDhiVGTCFl2t7uwsJh1faqbSaZY2TkbW6YDZWraIxDLfLNDpxdT8z0iF+MU
 LMJcB4KxgF7s0pBJ03awFh5YQDTrL0mZKKvHQOdcFcBR84DZeOSw3Vr2uqrq
 JounjkAjPCyuawkCDzM2Sdd6KI6pxhgXWk2shV6s4PmIJQVAcM7heSZ5ulIF
 ESjnuspt51UDcNSHQTFi3nY6ucetpOIHSM0TPBSiHgGJCREjnJmPuH1SmG85
 OrFh4d0Onl9noReigEcS+mRhSRIgFz0jeSsne3/JPqqOHgdCYbYyBrZVdc0o
 qayMgThL3Avxg2BA8Fxdj3tCHMfUanVEA0KndLs9PFPjXNPi12BTY4JWaHnr
 7AKISdJHqrjU5Fhr8QM/DdwFkRKIKovbyG7Vwpg2FE6k7ZwbCcCMgUEQsHDp
 Imuv37j0xSmAkQPrkjZtZE3CQL9G7GC+E3PLjM94DXpxEgvWamOpR0iz1kl2
 uGjKUVhB0EV5/rLNHRVAa20BoHOuvVqUFhGas5eWBzBNlHZCB84RWxAMDsEQ
 0Il7+E5xEhBbi2rWUvHwvCQH3Ol0EgA9L6NbURaKnhCBCgv7c3vDiDFmEQNb
 o6azyuxtz88NuKBvEUmyLsYnso446mFEEpBEsA6sdVh1oLDhuutotbuEcTcZ
 XR8E2DSM6QdsOXFpPUcJY9JkRAsKBrZWw5Fk0lmYr7qPIj1TSjCk+ymYfhBQ
 C/wk46LJyIhYhUATpez1OoRxDAjGJC0KEYOoW8ZZLYZzNdJZqQ2sANhcTU8c
 tloUABVGvSzat06aaIKKIp5HbB3d0OEZiwlqGE+S86rY2CGStIuNCCIGg7C4
 9P1vlVXJxqQq3IRChZuj2IR+6bWaK77HS51BFEU4m1SyG/nUA4eP4EvWBk7a
 t5kkDRnFlcezLSNl+zdiPrAA0Dm3MKoTKYvaOAllarXMaaadilWjXrRdBRGI
 47RfOg2Au1HMlA8Oxfcl72orhgFKsSAsBlAqS38n1CjZJ+fcApScyGowMCuY
 53nMX7zAumwobtaOWkKMSJJgdSU3oIq1SULBxg4vzURrCaTBA02XArOwfxn7
 VjK8rSye51WdiLX2TWBVGJhlZRZmLxUAwpJjLzIGDnp3L3ao1HBxTNLF1DeG
 I1VbSVkoVcItXigy0qPa/AyzDMCX0vXQD4QilFFV2nOXycpkQKRpY1WX9xsJ
 oMZgRGhGSh2H4CNGqvm/zO5JaTvpaaHoNSllZlLwbCmUGVYyzDIb+KKIOOfc
 cJweIANjwT7Jq6laUc0Ek8RmzrUta2sOAkGMIItG+EoJyH4W9lFQq30iKx2x
 XxLnnHsR0pEJe/bsmXfOnSr3Vg275AAuzOcGXpZYI5KkmLJmV9ofkkMrgkM4
 M9tGRJNuzNK90vcsKYGWs7CCX9EfMmz9UvBP7dmzZx6qY2NeB25ZDTuoqvSa
 C+V8yJIiCi7LneQ5vcJZCNDuWbpRkjAVo9W2WabCuX3MQM2AS8FFiMIoL9+w
 DExjwNez/RzAOI6PAg+slh10cUyv06FWGQ0vVTtHNeUlKrmzzlJUSOLVW6Hi
 mQKYki/OgasAmU9IUXzycPbUW0nZRgjZfN/PsEr2sw3n3EuyhDccRrJQZsNN
 m0uAVTPSguRJz6y9UoBY5FWm1syggFUGsGYxAyumoMTCc79+K79rWC+cYvRy
 tp8DaK39r3S94oeWpWyk5y8lAJZfXmYfOaAFM6HkNbN9T9Jky+KmWeUGydhW
 gJfZyAunT3P2rTeZSb9UGjGEeSHbLo+RfgM4nYEw7KKquXFvzc5WnUa56hWH
 koHY71GrTgIxFSeyvEMp9rutNof/498ZS75IzwFc6ZLK6RQroG+UvrX2cd/3
 /6bb7Q796+TgAPMXzqcHUnWlxL40y5L3W6AVx1Hm2tKmfjEDy+9HhHfeOMHz
 Tx+kMTaWTTCROYIV16tWq2Gtfbx8rAKgc+57QRB8q9vtrvwD2/JDfR/f9zn7
 1pvMXzjP9HXrKTLEUlHhose2Cly/GhciA3cL1U3s26k3jnPsyCu88+YJ1s7M
 MDExQb1ep1arDR3/BUFgnXPfq7y+P43/1a9+9dlOp3PfKF8rqSqtVotms4mr
 1fnyn30jZ11lMGXWM5fek/URJ/9K+/mDB7yshMXshfMcO/IKx48ewcURjUYj
 /3K9Xq8zNjY21MfXkIy6GB8ff+7JJ5+8v3x80bdyzrk9QRCMBGA29VIQBCzM
 z/HzF1/gzt//g+QcKVgiyzBOc6+q/brct9/rdDjxP0c5/tqrXDp3homJCdZM
 TVKr1fA8D9/3c+YNmzyABEDn3J7+44O+1tzred4/i8hIn7sGQYDv+4yPj3Pk
 0HPc8sE7aaxZA5RCmlJ7tQIci4HNRZI27ak3jvOrI6/wm2O/pBYENBoNbrzx
 xrx3MJ3mKQdyFEkJccY5t3fRuUEg7d69+7tRFH2r1+sN/VJVpdPp5J/y12fW
 8cDDX8tVuaq6pe3sfPGgHMzZ8+9y7MjLHHvtVWwYMjExwcTEBL7v52zLmO/7
 fj7ucFSp1+sEQfBPe/fuXfTB9cAv1p1zjwZB8CdxHA/9yX82kU2W+Zg78w7H
 jx7hjo/fBciSTiQ5Wkiv2+HE0dc4duQVLp49zfj4ONONBrW1a3NnVQbP9/1V
 AS2T9Ac57Zx7dGA9l1LTXbt2fQ74YbvdHmnSiTAMcxYutNv84de+zprr1i9y
 KMkqXVvLqRPH+eUrL/GbY78g8H0ajUbuBDLgygCOYt+WkvRL9Rj44r59+34y
 8JrlwNm1a9c/WGsfGSUuVFV6vV7+sXUnjHjwz/+C6fQziOwagNlz5/jlKy/y
 q1dfxoa9gSqa2barBVpZ0h/s0X379i057cmy88Y4577ted62IAiGnngnmyGt
 /H3avn/5Lhs238xNd3yAbqvFpXNnuXTuLN1WM1fR+rq1eJ5XAW417drlJP2R
 Djvnvr1s/S6nng899NBGY8zIUz+VZx4KwzDfzoaDlD2mMSZXz2vFtrJkUz85
 57Y+9dRTw0/9lMlDDz20TUT2RVE00uRj2ZxX2VRO5eEg2VSdmRfNQLsWbCtL
 +mO+q6q7nnrqqdEnH8tk586dG0Xk35xz20aZlKKcDc5UOovdsuVagwaFqTHG
 HFbVr+zfv3/1pr/LZOfOnfkEjL1ez1+t3OF7LcYY6vV6PgHj/v37rxiUoaYA
 3blz5+dE5PFsioBRwpz3UkQks7WnVfXh/fv3DwxVln3GsJXfsWNHZRLaUYZK
 XGvJbG15EtoDBw5cu0loy7Jjx47KNMhxHHvXcs7oK5UsweH7fmUa5AMHDrw3
 0yAPku3bt2/JJuJW1U3l9L6WWx5XWbJsdOaQ0nU+EffBgwdPrtq7rlaltm/f
 fpuIfAK4G9gK3AlsVlWTAQrVgZmDjlUK259x7juWAuWAU8DrwFHgZVV94eDB
 g+//qeAvJ9u3b58G7iEB9VagISJTJH+IYMV/jIDkDxLkf4wAeAl48eDBg7/9
 f4zg/4r8LzqKNMOAxn+6AAAAAElFTkSuQmCC
