[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=Fuelpad2
Exec=/usr/bin/invoker --type=d -s /opt/fuelpad2/bin/fuelpad2
Icon=/usr/share/icons/hicolor/80x80/apps/fuelpad280.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
